<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Address</title>
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/userStyle/address.css">
</head>
<body>
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="breadcrumb-container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Profile</a></li>
                            <li class="breadcrumb-item active">delivery address</li>
                        </ol>
                    </nav>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <div class="address-container">
                        <h4 class="section-title">Delivery Address</h4>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="address-card">
                                    <a href="#" class="edit-icon"><i class="fas fa-edit"></i></a>
                                    <div class="address-name">Rashid c</div>
                                    <div class="address-type">Brotype</div>
                                    <div class="address-details">
                                        Thathriyullathiangal Holdings,<br>
                                        Idathara, Kundannoor, Maradu,<br>
                                        ERNAKULAM<br>
                                        682304<br>
                                        Kerala, India
                                    </div>
                                    <div class="address-actions">
                                        <button class="btn btn-default">Default</button>
                                        <button class="btn btn-delete">DELETE</button>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        
                        <div class="text-center mt-4">
                            <a href="/getaddAddress" class="btn-add-address">Add New Address</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>