<%- include("../partials/user/header") %>
<link rel="stylesheet" href="/userStyle/page-404.css">
    <main class="main-container">
        <h1 class="error-title">404 Not Found</h1>
        <p class="error-description">The product you're looking for has sold out or the page doesn't exist.</p>
        <a class="back-button" href="/">Back to home page</a>
    </main>

<%- include("../partials/user/footer") %>